#reviews-container {
  height: 70px;
  width: 70px;
  border: 2px solid var(--border-color-orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2.3%;
  bottom: 200px;
}

#reviews-container:hover .fa-comment{
  color: black;
}

#reviews-container:hover  {
  background-color: var(--border-color-orange);
}

.fa-comment {
  font-size: 35px;
  color: var(--border-color-orange);
  transition: transform .4s ease;
}

.fa-comment:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.reviews-modal[open] {
  height: 80vh;
  width: 40vw;
  border: none;
  outline: none;
  background-color: var(--product-page-background);
  top: 110px;
  left: 9%; 
  box-sizing: border-box;
  padding: 40px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 3px 3px 10px var(--font-dark-light);
}

.reviews-title {
  color: var(--font-dark-light);
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 10px;
}

.close-reviews {
  z-index: 1111;
}

.reviews {
  height: 90%;
  scrollbar-gutter: stable;
  overflow: auto;
}

.review-card {
  height: 100px;
  display: flex;
  gap: 5px;
  background-color: #e2e8f0;
  margin-bottom: 4px;
  border-radius: 5px;
}

#avatar-container {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 5px;
}

#avatar {
  height: 45px;
  width: 45px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-light-light);
  font-size: 20px;
  font-weight: bold;
}

#name-time-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

#name-time {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-end;
}

#name {
  font-weight: 600;
  font-size: 18px;
}

#time {
  font-weight: 500;
  color: var(--font-dark-light);
}

#date {
  font-weight: 500;
  color: var(--font-dark-light);
  margin-right: 10px;
}

#review-body {
  width: 85%;
  height:100%;
  overflow-wrap: break-word;
}

.reviews-form-container {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: white;
}

.review-form {
  display: flex;
  height: 90%;
  width: 100%;
}

.review-input {
  height: 100%;
  width: 80%;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
}

.review-btn {
  width: 20%;
  height: 100%;
  background-color: white;
  color: var(--border-color-orange);
  cursor: pointer;
}

.fa-paper-plane {
  transition: transform .4s ease;
}

.review-btn:hover .fa-paper-plane {
  transform: translateX(50%) rotate(45deg);
}

@media only screen and (max-width: 600px) {
  #reviews-container {
    height: 40px;
    width: 40px;
    bottom: 130px;
  }

  .fa-comment {
    font-size: 25px;
  }

  .reviews-modal[open] {
    height: 80vh;
    width: 98vw;
    top: 90px;
    left: 2%;
  }

  .review-card {
    height: 100px;
  }

  #avatar-container {
    width: 18%;
  }

  #avatar {
    height: 30px;
    width: 30px;
  }

  #name {
    font-weight: 600;
    font-size: 17px;
  }

  #time {
    font-weight: 400;
  }

  #review-body {
    width: 82%;
    font-size: 13px;
  }


  .review-input {
    font-size: 15px;
  }
}