.contacts {
  margin-top: 100px;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.words {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  box-sizing: border-box;
  padding-left: 150px;
  font-size: 40px;
}

.words h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--border-color-orange);
}

.socials {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contact-icon {
  font-size: 120px;
  transition: transform .4s ease;
}

.contact-icon:hover {
  transform: scale(1.05)
}

.socials.fa-github {
  color: rgb(43, 42, 42);
}

.fa-whatsapp {
  color: rgb(26, 206, 26);
}

.fa-twitter {
  color: rgb(42, 131, 247);
}

@media only screen and (max-width: 600px) {
  .contacts {
    margin-top: 0;
  }

  .words {
    gap: 40px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .socials {
    gap: 40px;
    align-items: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .contact-icon {
    font-size: 70px;
  }
}