.nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: var(--main-color);
  color: var(--font-light-light);
  gap: 20%;
  position: fixed;
  top: 0;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-light-light);
}

.nav {
  width: 50%;
  margin-right: 20px;
  font-size: 20px;
}

.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 5%;
}

.nav-list-items {
  color: var(--font-light-light);
  text-decoration: none;
  border: 1px solid var(--border-color-orange);
  height: 40%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.nav-list-items:hover {
  color: var(--main-color);
  background-color: var(--border-color-orange);
}

#check, label {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    height: 70px;
    position: static;
  }

  .logo {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
  }

  .nav {
    margin: 0;
    height: 100vh;
    position: fixed;
    left: -50%;
    font-size: 15px;
    z-index: 1;
    background-color: var(--main-color);
    transition: all .5s ease;
  }

  .nav-list {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .nav-list-items {
    height: 30px;
    width: 70px;
    font-size: 17px;
    font-weight: 500;
  }

  label {
    display: block;
    width: fit-content;
  }

  label .fa-bars,
  label .fa-x {
    position: fixed;
  }

  label .fa-bars {
    left: 20px;
    top: 30px;
    color: var(--font-light-light);
    font-size: 30px;
    z-index: 1111;
  }

  label .fa-x {
    left: -145px;
    top: 30px;
    font-size: 22px;
    z-index: 1111;
    transition: all .5s ease;
    width: fit-content;
    padding: 5px;
    background-color: var(--border-color-orange);
    color: var(--main-color);
    border-radius: 5px;
  }

  #check:checked ~ .nav {
    left: 0;
  }

  #check:checked ~ label .fa-bars {
    opacity: 0;
    pointer-events: none;
  }

  #check:checked~label .fa-x {
    left: 145px;
  }
}