.footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--font-light-light);
  gap: 15px;
}

.fa-github {
  font-size: 20px;
  color: var(--font-light-light);
}