.main {
  height: 320vh;
  background-color: var(--ball-card-background);
}

/* Reveal animation */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1.2s linear;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}




/* FIRST SECTION */

.top-section {
  height: 600px;
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/gettyimages-159373860-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.write-up-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.write-up {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-light-light);
}

.welcome {
  font-size: 30px;
  font-weight: 500;
}

.to {
  font-size: 20px;
}

.baller-store {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.para {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Segoe UI','Helvetica Neue', sans-serif;
}

.link {
  width: 50%;
  height: 70px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--font-light-light);
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  font-family: Geneva, Verdana, sans-serif;
  transition: transform .5s ease;
}

button:hover {
  transform: scale(1.04)
}


/* SECOND SECTION */

.featured-products {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
}

.featured-products-title-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.featured-products-title-container h1 {
  font-size: 45px;
  font-family: Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
  color: var(--font-dark-light);
}

.featured-products-slide-container {
  height: 80%;
  width: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.slider-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes slide-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-82%);
  }
}

.slider {
  height: 90%;
  width: 7000px;
  display: flex;
  gap: 200px;
  position: absolute;
  left: 0;
  animation: slide-animation 40s linear 0s infinite;
}

.slider-image-container {
  height: 100%;
  width: 300px;
  background-color: var(--product-page-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.slider-image {
  height: 70%;
  width: 70%;
}



/* THIRD SECTION */

.write-up-container-2 {
  display: flex;
  flex-direction: column;
  height: 80%;
  color: var(--font-light-light);
  gap: 30px;
}

.write-up-container-2 h1 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--border-color-orange);
}

.brand-story-container {
  height: 600px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 40px 0 40px;
  background-color: black;
}

.brand-story-1 {
  width: 100%;
  height: fit-content;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.brand-story-2 {
  width: 90%;
  height: fit-content;
  font-size: 20px;
  text-align: left;
  font-family: cursive;
}

.white-btn {
  background-color: var(--font-light-light);
  color: var(--main-color)
}

#ball-1 {
  color: red;
}

#ball-2 {
  color: green;
}

.dunking-guy-image {
  height: 80%;
  width: 55%;
}


/* FOURTH SECTION */

.values-section {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0 60px;
  background-color: var(--product-page-background);
}

.values-section > div {
  height: 60%;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  font-family: Geneva, Tahoma, sans-serif;
  gap: 10px;
}

.value-icon {
  font-size: 40px;
  color: var(--border-color-orange);
}

.value-title {
  font-size: 20px;
  font-weight: 600;
}

.value-words {
  text-align: center;
  font-size: 17px;
  font-style: italic;
}
































@media only screen and (max-width: 955px) {
  .main {
    height: 280vh;
  }

  /* FIRST SECTION */
  .top-section {
    height: 550px;
  }


  /* SECOND SECTION */
  .featured-products {
    height: 450px;
  }



  /* THIRD SECTION */
  .write-up-container-2 {
    height: 90%;
    text-align: left;
  }

  .write-up-container-2 h1 {
    font-size: 40px;
  }

  .brand-story-container {
    height: 490px;
    padding: 0 30px 0 30px;
  }

  .brand-story-1,
  .brand-story-2 {
    text-align: left;
    box-sizing: border-box;
  }


  .brand-story-1 {
    font-size: 20px;
    font-weight: bold;
  }

  .brand-story-2 {
    font-size: 15px;
  }

  .dunking-guy-image {
    height: 80%;
    width: 55%;
  }



  /* FOURTH SECTION */

  .value-section {
    height: 100px;
    padding: 0 20px;
  }

  .values-section>div {
    width: 170px;
    padding: 7px;
    gap: 10px;
  }

  .value-icon {
    font-size: 30px;
  }

  .value-title {
    font-size: 18px;
  }

  .value-words {
    font-size: 15px;
  }
}

































@media only screen and (max-width: 600px) {
  .main {
    height: 500vh;
  }

  /* FIRST SECTION */
  .top-section {
    justify-content: center;
    height: 550px;
    background-image: url("../images/images\ \(9\).jpeg"),
      linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
    background-blend-mode: darken;
  }

  .write-up-container {
    width: 95%;
  }

  .write-up {
    width: 100%;
  }

  .welcome {
    font-size: 30px;
    font-weight: 500;
  }

  .to {
    font-size: 20px;
  }

  .baller-store {
    font-size: 40px;
  }

  .para {
    width: 80%;
    display: flex;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  button {
    font-size: 17px;
  }

  /* SECOND SECTION */
 
  .featured-products {
    height: 390px;
  }

  .featured-products-title-container h1 {
    font-size: 30px;
  }

  @keyframes slide-animation {
    to {
      transform: translateX(-61%);
    }
  }

  .slider {
    height: 70%;
    width: 4210px;
    gap: 25px;
  }

  .slider-image-container {
    height: 100%;
    width: 150px;
    background-color: var(--product-page-background);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-image {
    height: 90%;
    width: 90%;
  }



  /* THIRD SECTION */
  .write-up-container-2 {
    height: 80%;
    gap: 30px;
    text-align: center;
  }

  .write-up-container-2 h1 {
    color: var(--border-color-orange);
    font-size: 60px;
  }

  .brand-story-container {
    height: 840px;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 0;
  }

  .brand-story-1,
  .brand-story-2 {
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
  }
  

  .brand-story-1 {
    font-size: 20px;
    font-weight: bold;
  }

  .brand-story-2 {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
  }

  .third-section-link {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .white-btn {
    width: 55%;
    font-weight: bold;
  }

  .dunking-guy-image {
    height: 40%;
    width: 100%;
  }



  /* FOURTH SECTION */
  .values-section {
    height: 1080px;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    box-sizing: border-box;
    padding: 10px 10px;
    gap: 15px;
  }

  .values-section>div {
    height: 240px;
    width: 220px;
  }
 
  .value-words {
    font-size: 17px;
  }
}